$def with(params)
$var username: $params['username']
$var privilege: $params['privilege']
<div class='container'> 
        <br>
        <br>
        <br>

    <div class="card mb-3" style="max-width:70%;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <a href="/"><span> <img class="card-img" src="/static/Icono2.png" width="200" height="200"></span></a> 
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <br>
                    <br>
                        <h1 style="text-align: center ">Administrador: $params['username']</h1>
                        <p style="text-align: center">Administraci&oacute;n EncuentrAhorro </p>
                </div>
              </div>
            </div>
    </div>
</div>
<br>
<br>
<br>
<footer>
        <div class="tech-slideshow">
                <div class="mover-1"></div>
                <div class="mover-2"></div>
        </div>
</footer>
