$def with(params)
$var username: $params['username']
$var privilege: $params['privilege']
<!--
<br>
<p> ¡ Encuentra + </p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;Ahorra + ! </p>
<br>
<br> -->
<div class="slider">
    <div class="box">
        <img src="/static/fondo-combustibles01.png">
    </div>
    <div class="box">
        <img src="/static/fondo-productos01.png">
    </div>
    <div class="box">
        <img src="/static/fondo-productos05.png">
    </div>
    <div class="box">
        <img src="/static/fondo-servicios01.png">
    </div>
</div>