$def with(params)
$var username: $params['username']
$var privilege: $params['privilege'] 
<div class="slider">
    <div class="box">
        <img src="/static/fondo-combustibles01.png">
    </div>
    <div class="box">
        <img src="/static/fondo-productos01.png">
    </div>
    <div class="box">
        <img src="/static/fondo-productos05.png">
    </div>
    <div class="box">
        <img src="/static/fondo-servicios01.png">
    </div>
</div> 
</div>
<!--
<div id="slides">
    <ul class="slides-container">
        <li><img src="/static/fondo-combustibles01.png"></li>
        <li><img src="/static/fondo-productos01.png"></li>
        <li><img src="/static/fondo-productos05.png"></li>
        <li><img src="/static/fondo-servicios01.png"></li>
    </ul>
    
  <nav class="slides-navigation">
        <a href="#" class="next icon-chevron-thin-right"></a>
        <a href="#" class="prev icon-chevron-thin-left"></a>
  </nav>
  --->